body {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}   

#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

h1 {
  font-size: 400%;
  color: orange;
  text-shadow: 2px 2px blue;
}

#title {
  position:relative;
}

#splash {
  position: absolute;
  right: -7%;
  top: 22%;
  transform:rotate(15deg);
  font-size: 120%;
  text-shadow: 1px 1px yellow
}

button {
  width: 100px;
  height: 25px;
}